<mat-toolbar class="custom-toolbar">
    <button mat-icon-button class="neumorphic-button" class="example-icon" aria-label="Toggle Sidebar"
        (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>
    &nbsp;
    <button mat-button class="neumorphic-button">
        <span><a (click)="main()">Hospital Management System</a></span>
    </button>
    <span class="example-spacer"></span>
    <button mat-button class="neumorphic-button" (click)="Profile()">
        <mat-icon>account_circle</mat-icon>
        {{profile?.user?.email | uppercase}}
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button class="neumorphic-button" (click)="logout()">LOGOUT</button>
</mat-toolbar>


