<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
    <ul>
        <!-- <li>
            <a routerLinkActive="active" (click)="toggleSubmenu()">
                <span class="menu-icon material-icons"></span>
                <span class="menu-text">Dashboard</span>
                <span class="sub-menu-icon" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }">
                    <mat-icon>{{ isSubmenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
                </span>
            </a>
            <ul *ngIf="isSubmenuOpen" class="sub-menu">
                <li><a routerLink="/dashboard" routerLinkActive="active"><span
                            class="menu-icon material-icons">details</span><span class="menu-text">Details</span></a>
                </li>
                <li><a routerLink="/dashboard/messages" routerLinkActive="active"><span
                            class="menu-icon material-icons">message</span><span class="menu-text">Messages</span></a>
                </li>
            </ul>
        </li> -->

        <li>
            <a routerLink="/userlist" routerLinkActive="active">
                <span class="menu-icon material-icons">face</span>
                <span class="menu-text">Clinic Details</span>
            </a>
        </li>
        <li>
            <a routerLink="/category" routerLinkActive="active">
                <span class="menu-icon material-icons">category</span>
                <span class="menu-text">Doctors</span>
            </a>
        </li>
        <li>
            <a routerLink="/subcategory" routerLinkActive="active">
                <span class="menu-icon material-icons">category</span>
                <span class="menu-text">Patient</span>
            </a>
        </li>
    </ul>
</div>